@import "~bootstrap/scss/functions"; //~ 波浪符號意思為 webpack 根目錄意思，也就是指向 node_modules
@import "./helpers/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Noto+Sans+TC:wght@100;400&display=swap");
@import "./helpers/myVariables";
body {
  font-family: "Noto Sans TC", sans-serif; //中文
  a {
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .eng,
  .num {
    font-family: "Montserrat", sans-serif; //英文、數字
  }

  .unselected {
    &:hover {
      cursor: pointer;
      transition: 0.2s ease;
      background-color: rgb(226, 252, 254);
    }
  }

  .gray-box-shadow {
    box-shadow: 5px 10px 10px 2px #ddd;
  }
}
