$primary: #b5e6e4; //$blue !default;
//$secondary: $gray-600 !default;
$success: #7cb66a; // $green !default;
$info: #53bce3; //$cyan !default;
$warning: #f2be39; // $yellow !default;
$danger: #dc5151; // $red !default;
// $light: $gray-100 !default;
// $dark: $gray-900 !default;

$liked: rgb(240, 12, 8);
